{{>headerlinks}}
{{>header}}
<h5>Welcome To Abhishek Your Id Is {{id}} and Your Phone Is {{title}}</h5>
<form action="">
<input type="text" id="name" placeholder="Enter Your Name">
<button type="submit" value="search" id="submitbtn"> Onnile Class </button>
</form>
<div>
    <p id="blank_name" style="color: red;"></p>
</div>
{{>footer}}